<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Update Vehicle</title>
  </head>
  <body>
<form action="/account/superadmin/update" method="POST">
                        {% csrf_token %}
    <label for="vehicle_number">Vehicle Number</label>
    <input type="text" class="form-control" id="vehicle_number" name="vehicle_number" value="{{ vehicle_number }}" placeholder="Vehicle Number">
    Vehicle Type : <br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Two Wheeler" id="two_wheeler" name="vehicle_type">
  <label class="form-check-label" for="two_wheeler">
    Two Wheeler
  </label><br>
     <input class="form-check-input" type="checkbox" value="Three Wheeler" id="three_wheeler" name="vehicle_type">
  <label class="form-check-label" for="three_wheeler">
    Three Wheeler
  </label><br>
     <input class="form-check-input" type="checkbox" value="Four wheeler" id="four_wheeler" name="vehicle_type">
  <label class="form-check-label" for="four_wheeler">
    Four Wheeler
  </label>
</div>
    <label for="vehicle_model">Vehicle Model</label>
    <input type="text" class="form-control" id="vehicle_model" name="vehicle_model" value="{{ vehicle_model }}" placeholder="Vehicle Model">
    <label for="vehicle_description">Vehicle Description</label>
    <input type="text" class="form-control" id="vehicle_description" name="vehicle_description" value="{{ vehicle_description }}" placeholder="Vehicle Descripton">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
